/*reset default settings*/
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
/*global*/
body{
    height: 97vh;
    background-color: aquamarine;
    border: 10px solid aqua;
}
/*header*/
header {
    margin: 10px;
    text-align: center;
 
}
/*main*/
/*main moves-container*/
#moves-container{
    text-align: center;
}
.move-box{
    display:inline;
}
/*main gameStats-container*/

#gameStats-container{
    text-align: center;
}
.player-box{
    width: 400px;
    height: 200px;
    display: inline-block;
}
.score-box{
    font-size: 60px;
    text-align: center;
}

/*main results-container*/
#results-container{
    text-align: center;
}